@model IEnumerable<Gig>


@{
    ViewData["Title"] = "My Upcoming Gigs";
}

<div class="text-center">
    <h1 class="display-4">Find the next event You'll want to attend</h1>
</div>

<h6 class="display-5 voffset2">My Upcoming Gigs</h6>

@if (Model.Any())
{
    <div class="card-deck">
        @foreach (var gig in Model)
        {
            var photoPath = "~/images/" + (gig.ImageUrl ?? "noimage.jpg");
            <div class="card m-3 card-arrangements">
                <img src=@photoPath class="card-img-top imageThumbnail" alt="@gig.Artist.Name" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title text-center">@gig.Artist.Name</h5>
                    <div class="card-text"><strong><text>Genre: </text></strong>@gig.Genre.Name</div>
                    <div class="card-text"><strong><text>Venue: </text></strong>@gig.Venue</div>
                    <div class="card-text"><strong><text>Date: </text> </strong><em>@gig.DateTime.ToLongDateString()</em></div>
                    <div class="card-text"><strong><text>Time: </text> </strong><em>@gig.DateTime.ToShortTimeString()</em></div>
                </div>
                <div class="card-footer" style="font-weight: bolder;">
                    <small class="text-muted text-center">
                        <a asp-controller="Gigs" asp-action="Edit" asp-route-id="@gig.EncryptedGigId">Edit</a> |
                        <a href="#">Cancel Event</a>
                    </small>
                </div>
            </div>
        }

    </div>
}
else
{
<div class="jumbotron">
    <h2 class="lead">You have no upcoming gig in our records, click<a class="btn-link" asp-controller="Gigs" asp-action="Create"> here</a> to start adding a gig.</h2>
</div>
    
        }
        
