@model IEnumerable<Gig>


@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="text-center">
    <h1 class="display-4">Find the next event You'll want to attend</h1>
</div>

<h6 class="display-5 voffset2">My Upcoming Gigs</h6>

@if (Model.Any())
{
<div class="card-deck">
    @foreach (var gig in Model)
    {
        var photoPath = "~/images/" + (gig.ImageUrl ?? "noimage.jpg");
        <div class="card m-3 card-arrangements">
            <img src=@photoPath class="card-img-top imageThumbnail" alt="@gig.Artist.Name" asp-append-version="true">
            <div class="card-body">
                <div class="card-text"><strong><text>Genre: </text></strong>@gig.Genre.Name</div>
                <div class="card-text"><strong><text>Venue: </text></strong>@gig.Venue</div>
                <div class="card-text"><strong><text>Date: </text> </strong><em>@gig.DateTime.ToLongDateString()</em></div>
                <div class="card-text"><strong><text>Time: </text> </strong><em>@gig.DateTime.ToShortTimeString()</em></div>
            </div>
            <div class="card-footer" style="font-weight: bolder;">
                <div class="text-muted text-center">
                    <a asp-controller="Gigs" asp-action="Edit" asp-route-id="@gig.EncryptedGigId">Edit</a> |
                    <a class="js-cancel-gig" data-gig-id="@gig.EncryptedGigId" href="#">Delete Event</a>
                </div>
            </div>
        </div>
       
    }

</div>
}
else
{
    <div class="jumbotron">
        <h2 class="lead">You have no upcoming gig in our records, click<a class="btn-link" asp-controller="Gigs" asp-action="Create"> here</a> to start adding a gig.</h2>
    </div>

}

@section Scripts
{
    <script>
        $(document).ready(function ()
        {
            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);
                var dialog = bootbox.dialog({
                    title: 'Confirm delete operation',
                    message: "<p>Are you sure you want to cancel this event.</p>",
                    size: 'large',
                    buttons: {
                        cancel: {
                            label: "No",
                            className: 'btn-success',
                            callback: function() {
                                bootbox.hideAll();
                            }
                            
                        },
                        ok: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function() {
                                $.ajax({
                                    url:"/api/gigs/" + link.attr("data-gig-id"),
                                    method: "DELETE"
                                }).done(function() {
                                    link.parents("div.card").fadeOut(function() {
                                        $(this).remove();
                                    }).fail(function() {
                                        alert("Something went wrong");
                                    });
                                });
                            }
                        }
                    }
                });
            });
        });
    </script>
}

